:root {
  --brown: #5c4b51;
  --teal: #b5dfd5;
  --yellow: #f2ebbf;
  --orange: #f3b562;
  --red: #f06060;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1054222/pexels-photo-1054222.jpeg");
  background-position: center;
  background-size: cover;
  padding: 2.5em 10em;
  color: var(--brown);
}

nav,
.header-content {
  width: 100%;
  justify-content: space-between;
}

nav h3 {
  font-size: 28px;
}

.nav-links {
  display: flex;
  cursor: pointer;
}

.nav-links ul {
  list-style: none;
  font-size: 18px;
  display: flex;
}

.nav-links li {
  padding: 1em;
}

.header-content {
  background-color: var(--teal);
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: 0 2em;
  padding: 2em;
}

.header-text {
  background-color: white;
  margin: 0 2em;
  padding: 1em;
  width: 100%;
  border-radius: 6px;
}

.header-text h1 {
  font-size: 48px;
  font-weight: bolder;
  color: var(--red);
}

.header-text p {
  color: var(--brown);
}

.decorative-1 {
  background-color: var(--brown);
  width: 80%;
  height: 1.5em;
  margin-bottom: 1em;
}

.decorative {
  margin-top: 2em;
  background-color: var(--brown);
  width: 80%;
  height: 2em;
}
